


<div class="container">

    <div class="client-info-1">

        <div id="logo-box">
            <div class="logo">
                <p> logo</p>
            </div>
            <div id="client-rfc">
                <p>client-rfc</p>
            </div>
        </div>

        <div id="date-box">
            <div id="budget-num">
                <p> budget </p>
            </div>
            <div id="date" >
                <p>  </p>
            </div>
            <div id="project-name">
                <p> Project  </p>
            </div>
            <div id="system">
                <p> system </p>
            </div>
            <div id="client-phone">
                <p>  1234 5678</p>
            </div>
            <div id="currency">
                <p>currency</p>
            </div>
        </div>
    </div>
</div>