<table class="table-client-receipt">
    <tr>
    {% for head in heads %}
        <th>
           {{ head }}
        </th>
    {% endfor %}
    </tr>
    <tr>
    {% if customer != None %}
    <form method="post">
        {% for head in heads %}
        {% if receipt != None %}
        <td class="client-info-block">
            <input type="text" name="{{ head }}" id="{{ head }}" value="{{ receipt.author[head] }}">
        </td>
        {% else %}
        <td class="client-info-block">
            <input type="text" name="{{ head }}" id="{{ head }}">
        </td>
        {% endif %}
        {% endfor %}
        <input type="submit" class="submit-btn">
    </form>
    {% endif %}
    </tr>
    <tr>
        {% if receipt != None %}
        {% for head in heads %}
        <td>
            <p>{{ receipt.author[head] }}</p>
        </td>
        {% endfor %}
        {% endif %}
    </tr>
</table>