{% extends 'base.html' %}

{% block content %}

<head>

<body>
    <h1 class="title">Reciept</h1>
    
    {% include 'receipt/client-info.html'%}
    
    <div class="container">
        <div class="client-info-2">
            <div id="client-adress">
                <p>Client address: {{ client['address'] }}</p>
  
            </div>
            <div id="client-name">
                <form action="{{ url_for('receipt.client_receipt') }}" method="post">
                    <lable id="client-name" name="client-name" >Client Name </lable> 
                    <input id="client-name" name="client-name" >
                    <input type="submit" class="submit">
                </form>
                {{ client['name'] }}
            </div>
            <div id="project-description">
                <p>Project description Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div> 

    <div>
        <a href="{{ url_for('receipt.erase_receipt') }}" class="erase-btn">Delete</a>
    </div>
    
    <div class="container">
        <form method="post">
            <table class="table-receipt-product">
                {% include 'receipt/product-headers.html' %}
                {% include 'receipt/receipt-products.html' %}
            </table>
        </form>
    </div>
    
</body>
</head>
{% endblock %} 
    