{% extends 'base.html' %}

{% block content %}
<div class="main-container">
    <div class="receipt">
        <div class="receipt-client">
            <div class="receipt-info">
                <div class="receipt-info-block">

                </div>
                <div class="receipt-info-block">

                </div>
                <div class="receipt-info-block">

                </div> 
            </div>
            <div class="client-info">
                <table class="table-client-receipt">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            e-mail
                        </th>
    
                    </tr>
                    <tr>
                        <td class="client-info-block">
                            <input type="text">
                            <input type="submit">
                        </td>
                        <td class="client-info-block">
                            <input type="text">
                            <input type="submit">
                        </td>
                         <td class="client-info-block">
                            <input type="text">
                            <input type="submit">
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="receipt-product">

        </div>
    </div>

</div>

{% endblock %}