{% extends 'base.html' %}

{% block title %}
<h1>Add Customer</h1>
{% endblock %}


{% block content %}
<div class="title-container">
    <h1 class="title">Add Customer</h1>
</div>


<form method="post" class="add">
{% for head in customer_heads %}
<div class="label-div">
    <label for="{{ head }}" class="inpul-label">{{ head }}</label>
</div>
<div class="input-div">
    <input name="{{ head }}" class="input-customer" value="{{ form[head] }}">
</div>
{% endfor %}
<input type="submit" class="submit-btn">
</form>

{% endblock %}