{% extends 'base.html' %}

{% block content %}
<div class="title-container">
    <h1 class="title">Update Client</h1>
</div>

<form method="post" class="update">
    {% for head in heads %}
    {% if heads != id %}
    <div class="label-div">
        <label for="{{ head }}" class="input-label">{{ head }}</label>
    </div>
    <div class="input-div">
        <input type="text" value="{{ customer[head] }}" name="{{ head }}" id="{{ head }}" class="input-customer">
    </div>
    {% endif %}
    {% endfor %}
        <input type="submit" class="submit-btn">
</form>


{% endblock %}