*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 165, 118)
}

.title-container, .add, .update{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-customer, .input-product{
    width: 100%;
}

.input-div {
    width: 30%;
    margin-left: 10px;
}

.submit-btn{
    height: 30px;
    width: 60px;
    background-color: rgb(202, 79, 89);
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

nav{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgb(6, 163, 184);
}

nav div{
    margin: 20px
}

nav a {
    text-decoration: none;
}
.customers, .products{
    display: grid;
    justify-content: center;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px; 
}

a {
    text-decoration: none;
}

.main-container{
    display: flex;
    justify-content: center;
}

.receipt{
    margin-top: 10%;
    border: 1px solid black;
    height: 20em;
    width: 80%;
    display: flex;
    justify-content: center;
}

.receipt-client {
    border: 1px solid black;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.client-info-block {
    height: 5em;
}

.table-client-receipt{
    border: 1px solid black;
    border-collapse: collapse;
}



.client-info div {
    border: 1px solid black;
    width: 80%;
    height: 80%;
}

