*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}
nav div{
    display: inline;
    margin: 20px;
}

form, .flash{
    display: flex;
    justify-content: center;
}

input{
     margin-right: 20px
}

.title{
    color: teal;
    display: flex;
    justify-content: center;
}

.main-body{
    display: flex;
    justify-content: center;
}

.table-products, .table-clients, th, td, .table-receipt-product{
    border: 1px solid black; 
    border-collapse: collapse;

}

.table-products, .table-clients{
    width: 70%;
}

.columns th{
    font-weight: 600;
}

.submit{
    background-color: rgba(60, 179, 114, 0.76);
    border: 0px ;
    border-radius: 5px;
    height: 30px;
    width: 70px;
}

.flash{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    width: 100%;
    padding: 0px;
}

.client-info-1 {
    display: grid;
    grid-template-columns: 550px 550px;
    margin-left: 0;
}

.client-info-2 {
    display: grid;
    width: 100%;
}

#logo-box{
    display: grid;
    grid-template-rows: 100px;
    width: 100%;

}

#date-box {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content"
    ;

}

 #date-box > div {
    border: 1px solid black
}

#logo-box > div {
    border: 1px solid black;
}

.client-info-2 > div {
    border: 1px solid black;
    width: 1100px;
}

.product-header > th {
    width: 200px;
    height: 50px;
}

#product-table-tr > td {
    width: 200px;
    height: 50px;
}

.erase-btn{
    background-color: tomato;
    border: 0px ;
    border-radius: 5px;
    height: 25px;
    width: 60px;
}








