<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<nav>
    <div >
        <a href="{{ url_for('customer.add') }}">Add Customer</a>
    </div>
    <div>
        <a href="{{ url_for('customer.customers') }}">Customers</a>
    </div>
    <div >
        <a href="{{ url_for('product.add') }}">Add Product</a>
    </div>


</nav>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>