{% extends 'base.html' %}

{% block content %}
<head>
    <h1 class="title">Products</h1>
<div class="main-body">
    <table class="table-products">
        <tr class="columns">
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        {% for product in products %}
            <tr>
                <th>
                    {{ product["name"] }}
                    <a href="{{ url_for('product.update_product', id=product['id']) }}" 
                        class="btn btn-secondary">
                        Update
                    </a>
                </th>
                <th>{{ product["price"] }}</th>
                <th>
                    <p>
                        {{ product["description"] }}
                    </p>
                </th>
            </tr>
        {% endfor %}
    <table>
</div>
</head>
{% endblock %} 