{% extends 'base.html' %}

{% block title %}
<h1>Products</h1>
{% endblock %}

{% block content %}
<div class="title-container">
    <h1 class="title">Products</h1>
</div>
<table class="products">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    {% for product in products %}
    <tr>
        {% for head in heads %}
        <td>
            {{ product[head] }}
        </td>
        {% endfor %}
        <td>
            <a href="{{ url_for('product.delete', product_id=product.id) }}">❌</a>
            <br>
            <a href="{{ url_for('product.update', product_id=product.id) }}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}