{% extends 'base.html' %}

{% block content %}
<div class="title-container">
    <h1>Update Product</h1>
</div>

<div class="update">
    <form method="post" >
        {% for head in heads %}
        {% if heads != id %}
        <div class="label-div">
            <label for="{{ head }}" class="input-label">{{ head }}</label>
        </div>
        <div>
            <input type="text" value="{{ product[head] }}" name="{{ head }}" id="{{ head }}"
        </div>
        {% endif %}
        {% endfor %}
            <input type="submit" class="submit-btn">
    </form>
</div>

{% endblock %}